<!DOCTYPE html>
<html lang ="en">
<head>
<meta charset ="UTF -8">
<meta name =" viewport " content =" width =device -width , initial - scale =1.0">
<title> {{ page.title }} </title>
<link rel ="stylesheet" href ="{{ '/assets/css/styles.css' | relative_url }}">
</head>
<body>
    <header id = "cabecalho-principal">
        <h1>Blog de Astronomia</h1>
        <h2>As melhores informações do Universo!</h2>
    </header>
    {{ content }}
    <footer id="rodape-principal">
        Site criado por Gabriela Fonseca Fanucchi. Informações extraídas de wikipedia.com .
    </footer>
</body>
</html>